Automat==20.2.0
cairocffi==1.2.0
CairoSVG==2.5.1
click==7.1.2
ConfigArgParse==0.13.0
constantly==15.1.0
cssselect2==0.4.1
/app/datenanfragen-0.1.0-cp37-cp37m-manylinux1_x86_64.whl
defusedxml==0.6.0
fakeredis==0.10.3
Flask==1.1.2
Flask-Cors==3.0.8
Flask-JWT-Simple==0.0.3
html5lib==1.1
hyperlink==20.0.1
incremental==17.5.0
itsdangerous==1.1.0
Jinja2==2.11.2
klein==17.10.0
MarkupSafe==1.1.1
maturin==0.8.2
mock==4.0.2
Pillow==8.0.1
PyHamcrest==2.0.2
pyjarowinkler==1.8
pyPdf==1.13
Pyphen==0.10.0
simplejson==3.17.2
/app/string_sum-0.1.0-cp37-cp37m-manylinux1_x86_64.whl
tinycss2==1.1.0
toml==0.10.1
Twisted==20.3.0
typing==3.7.4.3
WeasyPrint==52.1
webencodings==0.5.1
websocket-client==0.54.0
zope.interface==5.1.0